@charset "utf-8"
body{
    margin:0px;
    padding:0px;
    font-family: calibri;
}
a{
    text-decoration:none;
}
ul{
    list-style:none;
}
*{
    box-sizing:border-box;
}
#main{
    width:100%;
    height:100vh;
    background-color: #9fee9f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nazad img{
    weight: 15vh;
    height: 15vh;
    padding: 40px 60px 20px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: Times New Roman;
    padding: 40px 60px 20px 900px;
}
table{
     border-collapse: collapse;
     padding: 40px 60px 20px 750px;
     weight: 600;
     empty-cells: hide;
     table-layout: auto;
     margin: 0 auto;
     width: 400px;
     height: 400px;
}
table th{
    font-size:1.8rem;
    border: 2px solid black;
    background-color: #4fbF70;
}
table td{
    font-size: 1.6rem;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #c4fF9f;
}